@model IEnumerable<WebApplication1.MessDiary>
@{
    ViewBag.Title = "My Diary";
}
<h2>Мои события</h2>

@Html.ActionLink("Новая запись", "Create", "Home", new { @id = "addButtom" })

<table class="table">
    <tr>
        <th>Событие</th>
        <th>Дата события</th>
        <th>Действия</th>
    </tr>
    @foreach (var mess in Model)
    {
        <tr>
            <td>@mess.Topic</td>
            <td>@mess.Date</td>
            <td>
                @Html.ActionLink("Открыть", "Open", "Home", new { id = mess.Id }) | 
                @Html.ActionLink("Удалить", "Delete", "Home", new { id = mess.Id })
            </td>

        </tr>
    }

</table>

